body {
    background-image: url(body-bg.jpg);
     background-repeat: no-repeat;
     background-size: cover;
     font-family: Arial, Helvetica, sans-serif;
     margin: 0; 
 }
 p {
     color: rgba(255, 255, 255, 0.63);
     font-size: 26px;  
     text-align: justify;
 }
 h2 {
     color: white;    
     font-family: 'Poppins', sans-serif;
     
 }
 h2#Sinopse {
     font-size: 30px ;
 }
 h2#personagens {
     font-size: 30px ;    
 }
 
 h2#imagens {
     font-size: 30px ;    
 }

 
 h1 {
     color: white;
     text-align: center;
     font-family:'Rubik Mono One', monospace;
     font-family: 'Poppins', sans-serif;
     font-size: 34px ;
 }
 .container {
 display: flex;
 align-items: center;
 }
 .textolado {
     margin-right: 10px;
 }
 main {
     text-align: justify;
     background-color: #232526;
     padding: 30px ;
     border-radius: 1em;
     width: 80vw;
     margin: auto;
     border:1px solid rgba(255, 255, 255, 0.37);
        
 }

 h3 {
     color: white;    
     font-family: 'Poppins', sans-serif;
     font-size: 26px;      
 }
 
 a {
     text-decoration: none;
     color:rgba(255, 255, 255, 0.63);  
 }
li > a {
    text-decoration: none;
     color:rgba(255, 255, 255, 0.63); 

}
li {
    display: inline-block;
    padding: 1em;
    font-size: 1.4vw;
}
.video {
    width: 560px;
    height: 315px;
    
 }
 
 .h2noticias {
     color: white;    
     font-family: 'Poppins', sans-serif;
     font-size: 3vw;
     text-align: center;
     padding: 10px 1em 1px 1em;
 }
 .textohome {
     color: white;
     font-size: 1.5vw;
     text-align: center; 
 }
 
 
 :root {
     --colortexto: rgba(255, 255, 255, 0.63);
     --corh1: #243655;
     --fontexto: Arial, Helvetica, sans-serif;
     --fonth2: 'Poppins', sans-serif;
     --fonth1: 'Rubik Mono One', monospace;
     --fonth3: 'Poppins', sans-serif;
     
 }
.img {
    width: 20vw;
    height: auto;
 }
 .imageex {
    width: 20vw;
    height: auto;
 }
 .imagempersonagem {
    width: 50px;
    height: auto;
}
 .imagehome {
     width: 18vw;
     height: auto;
     cursor: pointer;
     border-radius: 1em;
     margin: auto;
     
 }
 .quadradohome {
     background-color: rgba(197, 197, 197, 0.034);
     padding: 1em;
     border-radius: 15px;
     width: 20vw;
     display: inline-block;
     cursor: pointer;
     margin-bottom: 1em;
     justify-content: space-around;
 }
 
 nav {
     align-items: center;
     font-family: "cabecalho";
     margin: auto;
 }
 navbar {
    align-items: center;
    font-family: "cabecalho";
    padding: 1em;
 }

 ul, ol {
    list-style: none;
    margin: 0;
    padding: 0;
}


 .botaoclose {
   display: none;
}
.menubotao {
    display: none;
}
.navlist {
   margin: 0;
   padding: 0;
}
 @media screen and (max-width: 1024px) {
    body {
        background-image: url(body-bg.jpg);
         background-repeat: no-repeat;
         background-size: cover;
         font-family: Arial, Helvetica, sans-serif;
         margin: 0; 
     }
     main {
         text-align: justify;
         background-color: #232526;
         border:1px solid rgba(255, 255, 255, 0.37);  
         border-radius: 10px;
         padding: 1em ;
         max-width: 85vw;
         min-width: 85vw;
         margin: auto; 
         text-align: center;
     }
     navbar {
        align-items: center;
        font-family: "cabecalho";
        padding: 1em;
    }
     .imagehome {
         width: 100%;
         height: auto;
         margin: auto;
         border-radius:1em;
         margin: auto; 
     }
     .video {
         width: 100%;
         height: auto;
         margin: auto;
         border-radius: 7px;      
     }
     p {
         color: rgba(255, 255, 255, 0.63);
         font-size: 4vw;
         text-align: justify;
         padding: 1px;
         
     }
     h2 {
         color: white;    
         font-family: 'Poppins', sans-serif;
         font-size: 5vw;
         text-align: justify;
         
         
     }
     h2#Sinopse {
         font-size: 5vw ;
     }
     h2#personagens {
         font-size: 5vw;    
     }
     
     h2#imagens {
         font-size: 5vw;    
     }
     
     h1 {
         color: white;
         text-align: center;
         font-family:'Rubik Mono One', monospace;
         font-family: 'Poppins', sans-serif;
         font-size: 6vw ;
     }
     .container {
     display: flex;
     align-items: center;
     }
     .h2noticias {
         color: white;    
         font-family: 'Poppins', sans-serif;
         font-size: 5vw;
         text-align: center;
     }
     .quadradohome {
         background-color: rgba(197, 197, 197, 0.034);
         padding: 1em;
         border-radius: 15px;
         margin: 1em 2em;
         width: 4vw;
 }
 .textohome {
     color: white;
     font-size: 3vw;
     text-align: center; 
 }
 .textolado {
    margin-right: 1px;
    text-align: justify;
    padding: 1px;
}
.textorecomendado{
    text-align: justify;
}
 .quadradohome {
    background-color: rgba(197, 197, 197, 0.034);
    padding: 1em;
    border-radius: 15px;
    margin: center;
    width: 60vw;
    cursor: pointer;
}
.imageex {
    width: 35vw;
    height: auto;
}
.img {
   width: 35vw;
   height: auto;
    
}    

.imagempersonagem {
    width: 15vw;
    height: auto;
}

}

.home {
    color: rgba(255, 255, 255, 0.63); 
    font-family: 'titulo';
    display: flex;
    font-size: 3vw;
    margin: 0;
    
}


 
 @font-face {
     font-family:'titulo';
     src: url(Browood-Regular.ttf);
 }
 
 @font-face {
     font-family: "cabecalho";
     src: url(Poppins-Medium.ttf);
 }
 p#textofooter {
     text-align: center;
     color: white;
 
 }
 
 @media (max-width: 1024px) {
     .navlist{
        margin: 6vh 1vw 1vh 6vw;
        text-decoration: none;
     }
     nav {
        display: none;
    }
    nav {
        position: fixed;
        z-index: 999;
        width: 50%;
        right: 0;
        top: 0;
        background: #121f36;
        border: white;
        border-radius: 2em;
        height: 100vh;
        padding: 1em;
    }
    .menubotao {
        cursor: pointer;
        float: right;
        border-radius: 50%;
        height: 5vh;
        display: flex;
        margin: 1.4em 0 0 0;
        
    }
    nav.menu-btn {
        display: block;
    }
    .menubotao{
        display: block;
    }
    .botaoclose {
        cursor: pointer;
        padding: 0;
        margin: 1em;
        float: right;
        display: block;
        height: 2.7vh;      
    }
    .cont {
        display: flex;
        place-content: space-between;
        padding: 1em;
        width: 100vw;
        height: 8vh;
        margin: auto;
    }

    .home {
        color: rgba(255, 255, 255, 0.63); 
        font-family: 'titulo';
        display: flex;
        margin: 16px 0 0 0 ;
        font-size: 2em
        
    }
    li {
        color:rgba(255, 255, 255, 0.63);
        font-family: "cabecalho";
        text-decoration: none;
        display: block;
    }
    .a-header {
        font-size: 3em;
        font-family: "cabecalho";
        text-decoration: none;
        display: block;
        padding: .5em;
        text-align: right;
        
    }

 }
/* Estilos para o botão flutuante */
.btn-top {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 99;
    background-image: url(uppag.svg);
    background-repeat: no-repeat;
    background-position: center;
    border: rgb(0, 0, 0);
    border-radius: 100%;
    background-color: #ffffffa4;
    cursor: pointer;
    width: 60px; 
    height: 60px; 
}

.cont {
     display: flex;
     padding: 1em;
     width: 80vw;
     height: 8vh;
     margin: auto;
}